Tryout payment confirmation for <%= @cur_player.first_name + ' ' + @cur_player.last_name%>
===============================================
 
You have successfully registered and paid the fee for your tryout.<br>
Payment confirmation number: <%= @t_num %>
Fee(Paid): $<%= number_with_precision(@cur_tryout.fee, precision: 2) %>

 Date and Time:
 
 <%= @cur_tryout.date.strftime('%A %d, %Y') %>, <%= @cur_tryout.date.strftime('%I:%M %P') %>

 Location:

    <%= @cur_tryout.address1 %>
    <%= @cur_tryout.address2 %>
    <%= @cur_tryout.city %>, <%= @cur_tryout.state %> <%= @cur_tryout.zip %>
 
 
 Thanks for signing up and have a great day!