<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tryout payment confirmation for <%= @cur_player.first_name + ' ' + @cur_player.last_name%></h1>
    <p>
      You have successfully registered and paid the fee for your tryout.<br>
      Payment confirmation number: <%= @t_num %>.<br>
      Fee(Paid): $<%= number_with_precision(@cur_tryout.fee, precision: 2) %>
    </p>
    <h3><strong>Date and Time:</strong></h3>
    <h4><i><%= @cur_tryout.date.strftime('%A %d, %Y') %>, <%= @cur_tryout.date.strftime('%I:%M %P') %></i></h4>
 
    <h3><strong>Location:</strong></h3>
    <h4><i><%= @cur_tryout.address1 %><br><%= @cur_tryout.address2 %><br><%= @cur_tryout.city %>, <%= @cur_tryout.state %> <%= @cur_tryout.zip %></i></h4>

    <p><br>Thanks for signing up and have a great day!</p>
  </body>
</html>