<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Confirm Registration</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h4><u>Tryout Details</u>:</h4>
          <hr>
          <p>
            <strong>Date:</strong>
            <%= @tryout.date.strftime('%A %d, %Y') + ' - ' + @tryout.date.strftime('%I:%M %P') %>
          </p>

          <p>
            <strong>Fee:</strong>
            $<%= number_with_precision(@tryout.fee, precision: 2) %>
          </p>

          <p>
            <strong>Location:</strong>
            <%= @tryout.address1 %> <%= @tryout.address2 %>, <%= @tryout.city %>
            , <%= @tryout.state %> <%= @tryout.zip %>
          </p>

          <div>
            <iframe
            width="500"
            height="400"
            frameborder="5" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAdg49Tak1UQabDrP0djPBJlP6Kgp3SG3E
            &q= <%= @tryout.address1 %> <%= @tryout.address2 %> <%= @tryout.city %> <%= @tryout.state %> <%= @tryout.zip %>" allowfullscreen>
            </iframe>
          </div>
        </div>
        <vr>
          <div class="col-md-6">
            <h4><u>Player
              Information</u>: <%= link_to 'Edit', edit_player_path(current_profile.id), class: 'badge pull-right', style: 'color:white' %>
            </h4>
            <hr>
            <p>
              <strong>First Name:</strong>
              <%= @player.first_name %>
            </p>

            <p>
              <strong>Last Name:</strong>
              <%= @player.last_name %>
            </p>


            <p>
              <strong>Email:</strong>
              <%= @player.email %>
            </p>

            <p>
              <strong>Phone:</strong>
              <%= @player.phone %>
            </p>

            <p>
              <strong>Gender:</strong>
              <%= @player.gender %>
            </p>

            <p>
              <strong>Date of Birth:</strong>
              <%= @player.dob.strftime('%A %d, %Y') + ' - ' + @player.dob.strftime('%I:%M %P') %>
            </p>

            <p>
              <strong>Address Line 1:</strong>
              <%= @player.address1 %>
            </p>

            <p>
              <strong>Address Line 2:</strong>
              <%= @player.address2 %>
            </p>

            <p>
              <strong>City:</strong>
              <%= @player.city %>
            </p>

            <p>
              <strong>State:</strong>
              <%= @player.state %>
            </p>

            <p>
              <strong>Zip:</strong>
              <%= @player.zip %>
            </p>

            <p>
              <strong>Experience:</strong>
              <%= @player.experience %>
            </p>
          </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <%= link_to 'Back', tryouts_path, class: 'btn btn-danger pull-left', style: 'color:white' %>
          <% if @player_tryout == nil || @player_tryout.payment == nil %>
              <%= link_to 'Pay with PayPal', tryout_player_tryouts_path(tryout_id: @tryout.id, player_id: @player.id), method: :post, class: 'btn btn-success pull-right', style: 'color:white' %>
          <% else %>
              <div class="alert alert-danger pull-right">
                <p>You have already registered to this tryout.</p>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
