<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Edit Tryout</h1>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
    <%= link_to 'Back', tryouts_path, class: 'btn btn-danger pull-left', style: 'color:white' %>
  </div>
</div>
