
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Tryouts
      <% if (profile_signed_in? && current_profile.type == 'Coach') %>
          <%= link_to 'New Tryout', new_tryout_path, class: 'pull-right btn btn-success', style: 'color:white' %>
          </h1>
      <% end %>
      </div>
  <div class="panel-body">
    <table class="table table-hover table-striped table-hover">
      <thead>
      <tr>
        <th>Date</th>
        <th>Fee</th>
        <th>Location</th>
        <% if (profile_signed_in? && current_profile.type == 'Coach') %>
            <th colspan="3"></th>
        <% else %>
            <th colspan="1"></th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% @tryouts.each do |tryout| %>
          <tr>
            <td><%= link_to tryout.date.strftime('%A %d, %Y') + ' - ' + tryout.date.strftime('%I:%M %P'), tryout %></td>
            <td>$<%= number_with_precision(tryout.fee, precision: 2) %></td>
            <td><%= tryout.address1 %> <%= tryout.address2 %>, <%= tryout.city %> <%= tryout.state %>
              , <%= tryout.zip %></td>
            <td><%= link_to 'Details', tryout, class: 'btn btn-info' %></td>
            <% if (profile_signed_in? && current_profile.type == 'Coach') %>
                <td><%= link_to 'Edit', edit_tryout_path(tryout), class: 'btn btn-default' %></td>
                <td><%= link_to 'Destroy', tryout, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger', style: 'color:white' %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
