<%= form_for(@player_tryout) do |f| %>
  <% if @player_tryout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_tryout.errors.count, "error") %> prohibited this player_tryout from being saved:</h2>

      <ul>
      <% @player_tryout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.text_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :tryout_id %><br>
    <%= f.text_field :tryout_id %>
  </div>
  <div class="field">
    <%= f.label :payment %><br>
    <%= f.text_field :payment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
