<%= form_for(@coach) do |f| %>
  <% if @coach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coach.errors.count, "error") %> prohibited this coach from being saved:</h2>

      <ul>
      <% @coach.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
      <div class="col-md-12">
        <h3><u>Demographic Information</u>:</h3>
          <p>
            <strong>ID:</strong>
            <%= @coach.id %>
          </p>
        <div class="field">
          <%= f.label :type %><br>
          <%= f.select(:type, ['Player', 'Coach'], class:'form-control') %>
        </div>
        <div class="field">
          <%= f.label :first_name, 'First Name:' %><br>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :last_name, 'Last Name:' %><br>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :email, 'Email:' %><br>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :phone, 'Phone:' %><br>
          <%= f.number_field :phone, class: 'form-control' %>
        </div>
  <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="actions">
          <%= f.submit 'Submit', class: 'btn btn-primary pull-right' %>
        </div>
      </div>
    </div>
<% end %>
