<%= form_for(@player) do |f| %>
    <% if @player.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

          <ul>
            <% @player.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
    <% end %>
    <div class="row">
      <div class="col-md-6">
        <h3><u>Player Information</u>:</h3>
            <div class="field">
              <%= f.label :type %><br>
              <%= f.select(:type, ['Player', 'Coach'], class:'form-control') %>
            </div>
        <p>
          <strong>First Name:</strong>
          <%= @player.first_name %>
        </p>

        <p>
          <strong>Last Name:</strong>
          <%= @player.last_name %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @player.email %>
        </p>

        <p>
          <strong>Phone:</strong>
          <%= @player.phone %>
        </p>


      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="actions">
          <%= f.submit 'Submit', class: 'btn btn-primary pull-right' %>
        </div>
      </div>
    </div>
<% end %>
