<% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% @player.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Edit Player Information</h1>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
